@model List<_01_TennisQuery.Contract.ProductCategoryModel.ProductCategoryModel>
<div class="category-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  category wrapper  =======-->
                <div class="category-wrapper">
                    <div class="row row-10 masonry-category-layout">
                        @foreach (var ProductCategory in Model)
                        {
                            <div class="col-lg-4 col-sm-6 grid-item">
                                <!--=======  single category item  =======-->
                                <div class="single-category-item">
                                    <div class="single-category-item__image">
                                        <a asp-page="/ProductCategory" asp-route-id="@ProductCategory.Slug">
                                            <img src="@ProductCategory.Picture" alt="@ProductCategory.PictureAlt"title="@ProductCategory.PictureTitle">
                                        </a>
                                    </div>
                                    <div class="single-category-item__content">
                                        <h3 class="title">@ProductCategory.Name</h3>
                                        <a  asp-page="/ProductCategory" asp-route-id="@ProductCategory.Slug">
                                            <i class="ion-android-arrow-dropleft-circle"></i> همین حالا بخرید
                                        </a>
                                    </div>
                                </div>
                                <!--=======  End of single category item  =======-->
                            </div>
                        }
                        

                    </div>
                </div>
                <!--=======  End of category wrapper  =======-->
            </div>
        </div>
    </div>
</div>